:root {
    --bg-color: rgb(242, 242, 242, 1);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    /* box-sizing: border-box; */
}
/* ************************* navbar start  **************************** */
.home2-main{
        height: 40rem;
        background-size: cover;
        width: 100%;
        background-repeat: no-repeat;
        background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.095), rgba(0, 0, 0, 0.384), #0000003c),
        url("images/image_4.png");
        background-color: var(--bg-color);
}
/* ************************* navbar start  **************************** */
.navbar {
    background-color: rgb(242, 242, 242, 1) !important;
    padding: 1rem 1rem !important;
    z-index: 1 !important;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.navbar-toggler:hover,
.navbar-toggler:active {
    box-shadow: none !important;
}

.btn-close{
    -bs-btn-close-opacity: none !important; 
    --bs-btn-close-hover-opacity:  none !important;
    --bs-btn-close-focus-shadow: none !important;
    --bs-btn-close-focus-opacity:  none !important;
    --bs-btn-close-disabled-opacity: none !important;
}
.navbar-toggler i {
    font-size: 2rem;
}

.nav-logo {
    width: 8rem;
    padding-left: 1rem;
}

.nav-logo-side {
    width: 10.3rem;
    align-items: center;
}

.nav-link,
.offcanvas-body,
.offcanvas-header {
    background-color: white !important;
}

.nav-link {
    color: black;
    font-size: 1.1rem;
}

.login {

    left: 1632.849px;
    top: 44px;
    padding: 0.3rem 1.2rem;
    border-radius: 20px;
    font-family: Red Hat Display;
    font-style: normal;
    background-color: white !important;
    font-weight: normal;
    font-size: 13px;
    box-shadow: 2px 3px 4px #888888;

}

.signup {
    box-shadow: 2px 3px 4px #888888;
    padding: 0.3rem 1.5rem;
    border-radius: 20px;
    background-color: black !important;
    color: white;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

.signup-btn {
    margin-top: 1rem;
    border-radius: 20px;
    width: 12rem;
    height: 4rem;
    font-family: Red Hat Display;
    font-size: 22px;
    background-color: black !important;
    color: white;
}

.login-btn {
    margin-top: 1rem;
    border-radius: 20px;
    width: 12rem;
    border: "none";
    font-size: 22px;
    font-family: Red Hat Display;
    height: 4rem;
    color: black;
    background-color: white !important;
}

/* ************************* Hero Section  **************************** */
.hero-section {
    height: 40rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgb(242, 242, 242, 1) !important;

}

/*  her section content */
.hero-section-content {
    margin-top: 8rem;
    width: 50%;
    padding: 0 1rem;
}

.hero-section-title {
    font-size: 3rem;
    font-family: Red Hat Display;
}

.hero-section-main-div {
    margin-top: 1rem;
    display: flex;
}

.hero-section-input-div {
    /* margin-top: 2rem; */
    margin-right: 0.5rem;
    padding: 5px 0px 5px 7px;
    width: 20rem;
    display: flex;
    padding-top: 10px;
    background-color: white !important;
}

.hero-section-input {
    outline: none;
    
    font-size: 13px;
    background-color: white !important;
    padding: 0 3.8rem 0.4rem 0.2rem;
    color: black;
    font-family: Red Hat Display;
}

.dropdown,
.dropdown-menu,
.dropdown-item {
    border-radius: 0 !important;
    background-color: white !important;
}

.dropdown-item {
    border-bottom: 1px solid lightgray;
}

/* .dropdown{
 margin-top: 2rem;
} */
.dropdown-btn {
margin-top: 4px;
    padding: 5px 12px;
    font-size: 13px;
    background-color: white !important;
}

.hero-section-btn {
    background-color: black !important;
    color: white;
    font-size: 13px;
    font-family: Red Hat Display;
    margin-left: 10px;
    padding: 0 1.4rem;
}

.hero-section-text {
    font-size: 13px !important;
    color: #707070;
    font-family: Red Hat Display;
}

/*  */

.hero-section-images1 {
    position: absolute;
    width: 38rem;
    height: 28rem;
    right: -3rem;
    bottom: 9rem;
}

.hero-section-images2 {
    position: absolute;
    width: 22rem;
    height: 12rem;
    right: -1rem;
    bottom: 1rem;
    z-index: 2;
}

.hero-section-images3 {
    z-index: 1;
    filter: drop-shadow(0px 11px 20px rgba(0, 0, 0, 0.369)) !important;
    position: absolute;
    width: 17rem;
    height: 15rem;
    right: 19rem;
    bottom: 5rem;

}
/*  ********************  slider  ******************/

  .slider {
      width: 90%;
      margin: 10px auto;
  }
  .slider-section-row {
    font-family: Red Hat Display;
    width: 100%;
    padding: 0 4.7rem ;
    display: flex;
    justify-content: space-between;
}

  .slick-slide {
    margin: 0px 19px;
  }

  .slick-slide img {
    width: 100%;
  }
  .slider-title{
    margin-top: 1rem;
    font-weight: 600;
    font-size: 22px;
    font-family: Red Hat Display;
  }
.slider-text{
    color: #767676;
    font-weight: 400;
    font-family: Red Hat Display;
    font-size: 11px;
}
  .slick-prev:before,
  .slick-next:before {
    color: black !important ;   
  }
  .slider-main-div{
    padding: 2rem 0;
  }

/* ****************************** map-section  ***************************** */
.map-section {
    padding: 2rem 2rem;
}

.map-section-row {
    font-family: Red Hat Display;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.map-section-row strong ,
.slider-section-row strong {
    font-size: 2.1rem;
}

.map-text-main-div {
    padding: 3rem 2rem;
    display: flex;
}

.map-div {
    display: flex;
}

.map-text-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.map-text-div a {
    margin-bottom: 10px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-family: Red Hat Display;
}

.bg-image {
    padding: 2rem 0 !important;
    margin-bottom: 2rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.095), rgba(0, 0, 0, 0.868), #000000),
        url("images/bg-image.png");

}

.bg-image-text {
    margin-bottom: 10px;
    font-size: 2.9rem;
    font-weight: 400;
    font-family: Red Hat Display !important;
}

.bg-image-div {
    width: 50%;
    text-align: center;
}

.bg-image-div strong {
    font-size: 14px;
}

.bg-image-input {
    outline: none !important;
    font-size: 0.9rem;
    font-family: Red Hat Display !important;
    padding: 0.5rem 5rem ;
}

.bg-image-btn {
    margin-left: 4px;
    font-weight: 400;
    font-size: 0.9rem;
    font-family: Red Hat Display !important;
    background-color: #414141;
    color: white;
    padding: 0.5rem 2.4rem;
}
/*  **************************   footer  ****************************** */
.footer{
    padding: 2rem 3rem 0 ;
}
.footer-logo{
    height: 4rem;
}
.footer-div{
    display: flex;
padding: 1rem 0;
    border-bottom: 1px solid grey;
}
.footer-div-1 p{
    padding: 1rem 3rem 2rem 0;
    font-size: 15px;
    font-family: Red Hat Display; 
}
.footer-div-2{
    width: 100%;
  display: flex;
  flex-direction: column;
}
.footer-div-2 a{
    margin-bottom: 10px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-family: Red Hat Display;   
}
.footer-div-logo{
    height: 2.4rem;
    
}
.footer-icon-div{
    display: flex;
    justify-content: space-between;
}
.footer-text{
    text-align: right;
    font-size: 13px;

}
.footer-second{
    padding: 0 2rem;
}