:root {
    --bg-color: rgba(242, 242, 242, 1);
}
@media (max-width : 1248px) {

    .slider-section-row {
        padding: 0 5.6rem;
    }
}

@media (max-width : 1099px) {
    .hero-section-title {
        font-size: 2rem; 
        font-family: Red Hat Display;
    }
    .slider-section-row {
        padding: 0 4rem;
    }
}







@media (max-width : 999px) {

    /* ************************* Hero Section  **************************** */
    .hero-section {
        height: 32rem;
    }
.hero-section-main-div{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.hero-section-title {
    font-size: 1.8rem; 
}
.hero-section-input-div {
    padding:0.6rem 0px 0.6rem 7px;
    margin-bottom: 10px;
}
.hero-section-input,
.dropdow-btn,
.hero-section-btn{
    font-size: 16px;
}
.dropdown-menu{
    width: 20rem;
}
.dropdown{
margin-bottom: 10px;
width: 20rem;
}
.hero-section-btn{
   width: 20rem;
   padding: 4px;
   margin-left: 0;
}
.hero-section-text{
    font-size: 13px !important;
    color: #707070;
    font-family: Red Hat Display;
}
    .hero-section-images1 {
        width: 25rem;
        height: 22rem;
        right: -3rem;
        bottom: 3rem;
    }

    .hero-section-images2 {
        width: 13rem;
        height: 7rem;
        right: -1rem;
        bottom: 0rem;
    }
    .map-section-row strong,
    .slider-section-row strong{
        font-size: 1.7rem;
      }  
    .hero-section-images3 {
        width: 12rem;
        height: 10rem;
        right: 10rem;
        bottom: 4.3rem;

    }
    .map-text-div{
        justify-content: space-between;
    } 
    .map-text-div a{
        width: fit-content !important;
    }  
    .bg-image-div {
        width: 90%;
        text-align: center;
    }
    
}






@media (max-width : 725px) {
    /* ************************* Hero Section  **************************** */
.hero-section {
    height: 34rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.hero-section-title {
  display: none;
}
.hero-section-content{
    margin-top: 2rem;
   width: 100%;
   padding: 0 1rem;
   }
.hero-section-main-div{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
}
.hero-section-images1 {
    position: absolute;
    width: 23rem;
    height: 15rem;
    right: -3rem;
    bottom: 5rem;
}

.hero-section-images2 {
    position: absolute;
    width: 14rem;
    height: 9rem;
    right: -3rem;
    bottom: 2rem;
    z-index: 2;
}

.hero-section-images3 {
    z-index: 1;
    filter: drop-shadow(0px 11px 20px rgba(0, 0, 0, 0.369)) !important;
    position: absolute;
    width: 10rem;
    height: 10rem;
    right: 9rem;
    bottom: 5rem;

}
.map-text-main-div{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
}
.map-section-row
{
    padding: 1rem 0;
    flex-direction: column;
}
.map-text-div a{
    margin-bottom: 3px;
    font-weight: 300;
   font-size: 16px;
} 
/*  **************************   footer  ****************************** */
.footer{
    padding: 2rem 1rem;
    text-align: center;
}
.footer-div{
    display: flex;
    flex-direction: column;
}
.footer-div-2 a{
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 400;
}  
.footer-icon-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 .footer-second{
    padding: 0 2rem;
    text-align: center;
}
.footer-text{
    text-align: center;
    font-size: 13px;
    
}

.slider {
    width: 75%;
    margin: 10px auto;
}
.slick-slide {
    margin: 0px 10px;
  }

  .slick-slide img {
    width: 100%;
    /* height: 6rem; */
  }

  .slick-prev:before,
  .slick-next:before {
    color: black !important ;   
  }
  .home2-main{
    height: 24rem;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.095), rgba(0, 0, 0, 0.384), #0000003c),
    url("images/image_4.png");
    background-color: var(--bg-color);
}

.slider-section-row {   
    padding: 0 0 0 5rem;
    flex-direction: column;
}
.slider-main-div{
    padding: 1rem 0 0 0;
  }
}



















@media (max-width : 463px) {
    .navbar {
        background-color: var(--bg-color) !important;
        padding: 1rem 0rem !important;
    }

    .nav-logo {
        width: 4.9rem;
        height: 1.9rem;
        padding-left: 0.3rem;
    }

    .navbar-toggler i {
        font-size: 1.9rem;
    }

    .login-text {
        visibility: hidden;
    }

    .login-icon {
        text-align: center;
        display: block !important;
        padding: 0.7rem 0.1rem;
    }

    .login {
        padding: 0rem 0rem !important;
        height: 0;
        font-size: 16px;
        align-items: center;
    }

    .signup {
        padding: 0rem 0rem;
        width: 96px;
        height: 40px;
        ;
        font-size: 16px;
    }
        /* ************************* Hero Section  **************************** */
.hero-section {
    height: 28rem;
    width: 100%;
}
.hero-section-title {
  display: none;
}   
.dropdown{
margin-bottom: 7px;
width: 18rem;
}
.dropdown-btn{
    font-size: 17px;
   padding:0.7rem 10px ;
    }
.hero-section-input-div,
.hero-section-btn,.dropdown-menu
 {
    width: 18rem;
}
.hero-section-btn{
    padding: 0.7rem 0rem ;
}
.hero-section-images1 {
    position: absolute;
    width: 15rem;
    height: 10rem;
    right: -3rem;
    bottom: 3rem;
}

.hero-section-images2 {
    position: absolute;
    width: 10rem;
    height: 5rem;
    right: -2rem;
    bottom: 0rem;
    z-index: 2;
}

.hero-section-images3 {
    z-index: 1;
    filter: drop-shadow(0px 11px 20px rgba(0, 0, 0, 0.369)) !important;
    position: absolute;
    width: 8rem;
    height: 6rem;
    right: 6rem;
    bottom: 3rem;

}
.map-section{
    padding: 2rem 0.9rem;
}
.map-text-main-div{
    padding: 0rem 0.9rem;
    display: flex;

}
.map-text--div{
    display: flex;
   
}
.map-div{
    display: flex;
    flex-direction: column;
}
.map-text-div a{
    margin-bottom: 3px;
    font-weight: 300;
   font-size: 16px;
}  

.bg-image {
    margin-top: 2rem;
}
.bg-image-input-div{
    display: flex;
    flex-direction: column;
}
.bg-image-div {
    width: 90%;
}
.bg-image-text {
    margin-bottom: 6px;
    font-size: 1.9rem;
}
.bg-image-div strong {
    font-size: 12px;
}
.bg-image-input {
    font-size: 0.9rem;
    text-align: center;
}

.bg-image-btn {
    margin-left: 4px;
    font-weight: 400;
    font-size: 0.9rem;
    font-family: Red Hat Display !important;
    background-color: #414141;
    color: white;
    margin-top: 10px;
    padding: 0.7rem 2.4rem;
}
.footer-logo{
    height: 3rem;
}
.slider-section-row {   
    padding: 0 0 0 3rem;
    flex-direction: column;
}
.slider-main-div{
    padding: 1rem 0 0 0;
  }
}
